<template>
  <svg xmlns="https://www.w3.org/2000/svg" viewBox="0 0 23.89 22.25"><g data-name="Слой 2"><g data-name="Слой 1"><polyline points="2 11.12 8.72 20.25 21.89 2" style="fill:none;stroke:#666;stroke-linecap:round;stroke-linejoin:round;stroke-width:4px"/></g></g></svg>
</template>