<template>
  <svg xmlns="https://www.w3.org/2000/svg" viewBox="0 0 12.53 6.29"><g id="b533444c-ff5f-467d-b754-b63a769f9d00" data-name="Слой 2"><g id="a8bedcbf-c725-450e-9137-0f0566e720af" data-name="Слой 2"><polyline points="1 1.01 6.27 5.29 11.53 1" fill="none" stroke="#444444" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/></g></g></svg>
</template>