<template>
  <svg xmlns="https://www.w3.org/2000/svg" viewBox="0 0 13.61 9.77">
    <g id="f8d7b768-12de-412b-9540-cb01cc16d3c0" data-name="Слой 2">
      <g id="b3446ef0-235c-47a1-bc24-e8e312e2bbf5" data-name="Слой 3">
        <g>
          <line x1="0.5" y1="0.5" x2="13.11" y2="0.5" style="stroke: #000;stroke-linecap: round;stroke-miterlimit: 10"/>
          <line x1="0.5" y1="4.89" x2="8.14" y2="4.89" style="stroke: #000;stroke-linecap: round;stroke-miterlimit: 10"/>
          <line x1="0.5" y1="9.27" x2="13.11" y2="9.27" style="stroke: #000;stroke-linecap: round;stroke-miterlimit: 10"/>
        </g>
      </g>
    </g>
  </svg>
</template>