<template>
  <svg xmlns="https://www.w3.org/2000/svg" viewBox="0 0 26.06 25.85"><g id="a51947c9-4a1f-4b19-9ef0-3de98e39288d" data-name="Слой 2"><g id="b9a5fd46-9537-42c6-8978-1d84d7d34a06" data-name="Слой 1"><ellipse cx="13.29" cy="7.39" rx="7.47" ry="7.39"/><path d="M25.49,25.35H.56A12.32,12.32,0,0,1,13,14.79,12.3,12.3,0,0,1,25.49,25.35Z" stroke="#fff" stroke-miterlimit="10"/></g></g></svg>
</template>