@import 'components/buttons';
@import 'components/helpers';
@import 'blocks/menu';
@import 'blocks/mobile-menu';
@import 'blocks/promo';
@import 'blocks/online-accounting';
@import 'blocks/business-registration';
@import 'blocks/hr-document-flow';
@import 'blocks/ved';
@import 'blocks/business-from-scratch';
@import 'blocks/application';
@import 'blocks/prices';
@import 'blocks/custom-tasks';
@import 'blocks/footer';
@import 'layouts/home';

div#app {
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

body {
  overflow-y: auto;
  overflow-x: hidden;
  font-family: 'Arimo', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
}