.application {
  padding-top: 55px;
  position: relative;
}

.application__title {
  font-size: 42px;
  font-weight: bold;
  color: #1f5e95;
}

.application__separator {
  margin: 36px 0 125px 0;
  width: 200px;
  border-bottom: 2px solid #1ab79c;
}

.application__text {
  font-size: 16px;
  line-height: 1.82;
  text-align: left;
  color: #000000;
}

.application__points {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 400px;
  font-size: 16px;
  line-height: 1.47;
  text-align: left;
  color: #000000;
}

.application__point {
  display: flex;
  align-items: center;
}

.application__point-svg {
  min-width: 25px;
  height: 25px;
  margin-right: 30px;
}

.application__point-digit {
  width: 24px;
  height: 48px;
  font-family: Arimo, sans-serif;
  font-size: 43px;
  line-height: 1;
  letter-spacing: normal;
  text-align: left;
  color: #808080;
  margin-right: 30px;
}

.application__point-text {
  max-width: 528px;
}

.application__desktop-svg {
  width: 652px;
  height: 417px;
}

.application__tablet-svg {
  width: 420px;
  height: 563px;
}

.application__mobile-svg {
  width: 303px;
  height: 614px;
}

@media screen and (max-width: 1200px) {

  .application__separator {
    margin-bottom: 36px;
  }
}

// ------------------- Mobile ----------------------

@media screen and (max-width: 992px) {

  .application {
    padding-top: 20px;
    padding-bottom: 0;
  }

  .application__title {
    font-size: 28px;
  }

  .application__separator {
    margin: 36px 0 36px 0;
    width: 120px;
  }

  .application__desktop-svg {
    margin: 26px 0 50px 0;
    width: 70vw;
    height: auto;
  }

  .application__points-text {
    margin-bottom: 38px;
  }

  .application__points {
    height: auto;
    line-height: 1.56;
  }

  .application__point {
    margin-bottom: 28px;
  }

  .application__tablet-svg {
    height: auto;
    width: 70vw;
    margin-top: 20px;
  }

  .application__mobile-svg {
    height: auto;
    width: 60vw;
    margin-top: 30px;
    margin-bottom: 50px;
  }

}