.business-from-scratch {
  padding-top: 60px;
  position: relative;
  padding-bottom: 55px;
}

.business-from-scratch__grow-background {
  position: absolute;
  background: url("../images/grow.png") no-repeat center;
  top: 42px;
  left: -160px;
  width: 100%;
  height: 198px;
}

.business-from-scratch__title {
  font-size: 42px;
  font-weight: bold;
  color: #1f5e95;
}

.business-from-scratch__separator {
  margin: 36px 0 125px 0;
  width: 200px;
  border-bottom: 2px solid #1ab79c;
}

.business-from-scratch__description {
  font-size: 16px;
  line-height: 1.17;
  text-align: center;
  color: #000000;
}

.business-from-scratch__info-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 220px;
  margin-bottom: 70px;
}

.business-from-scratch__svg-container {
  width: 90px;
  height: 146px;
  display: flex;
  align-items: center;
}

.business-from-scratch__svg {
  width: 130px;
}

// ------------------- Mobile ----------------------

@media screen and (max-width: 992px) {

  .business-from-scratch {
    padding-bottom: 0;
  }

  .business-from-scratch__title {
    font-size: 28px;
  }

  .business-from-scratch__separator {
    margin: 25px 0 40px 0;
    width: 120px;
  }

  .business-from-scratch__grow-background {
    left: -120px;
    top: 32px;
  }

  .business-from-scratch__info-container {
    margin-bottom: 50px;
    height: 200px;
  }

  .business-from-scratch__description {
    line-height: 1.56;
  }

}