.business-registration {
  position: relative;
  background: url("../images/business_register_background.png") bottom no-repeat;
}

.business-registration__gears-background {
  position: absolute;
  background: url("../images/gears.png") no-repeat center;
  top: -331px;
  left: 325px;
  width: 100%;
  height: 546px;
}

.business-registration__title {
  margin-top: 80px;
  margin-bottom: 37px;
  font-size: 42px;
  font-weight: bold;
  color: #1f5e95;
}

.business-registration-block {
  position: relative;
  padding-left: 34px;
  padding-top: 65px;
  padding-right: 16px;
  max-width: 490px;
  width: 100%;
  height: 560px;
  box-shadow: 0 0 6px 0 rgba(132, 131, 131, 0.48);
  border-radius: 2px;
  background-color: white;
  margin: 80px 0 140px 0;
}

.business-registration-block--right {
  //margin-top: 170px;
  margin-bottom: 80px;
}

.business-registration-block--left {
  height: 640px;
}

.business-registration-block__title {
  display: inline-block;
  font-size: 23px;
  font-weight: bold;
  text-align: left;
  color: #333333;
  padding-bottom: 17px;
  border-bottom: 2px solid #1ab79c;
}

.business-registration-block__point {
  margin-top: 48px;
  display: flex;
  align-items: center;
}

.business-registration-block__point-digit {
  font-size: 43px;
  line-height: 0.93;
  text-align: left;
  color: #808080;
  padding: 0 12px 0 5px;
}

.business-registration-block__point-text {
  max-width: 320px;
  font-size: 16px;
  line-height: 1.18;
  text-align: left;
  color: #000000;
}

.business-registration-block__point-text--selected {
  color: #1f5e95;
}

.business-registration-block__description {
  margin: 28px 0 20px 0;
  font-size: 16px;
  line-height: 1.18;
  text-align: left;
  color: #000000;
}

.business-registration-block__note {
  position: relative;
  font-size: 14px;
  font-style: italic;
  line-height: 1.07;
  text-align: left;
  color: #000000;
}

.business-registration-block__button {
  position: absolute;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  bottom: 20px;
}

// ------------------- Mobile ----------------------

@media screen and (max-width: 992px) {

  .main-color {
    color: #1ab79c;
  }

  .business-registration__gears-background {
    display: none;
  }

  .business-registration__title {
    margin-top: 0;
    font-size: 28px;
    margin-bottom: 62px;
  }

  .business-registration-block {
    height: auto;
    padding-left: 16px;
    padding-top: 27px;
    margin: 30px 0;
  }

  .business-registration-block__point-text {
    line-height: 1.56;
  }

  .business-registration-block__point {
    margin-top: 30px;
  }

  .business-registration-block__description {
    line-height: 1.56;
  }

  .business-registration-block__button {
    position: relative;
    bottom: 0;
    margin: 20px 0;
  }

  .business-registration-block--right {
    margin-top: 0;
    margin-bottom: 50px;
  }

}