.custom-tasks {
  padding-top: 55px;
  position: relative;
  padding-bottom: 50px;
}

.custom-tasks__title {
  font-size: 42px;
  font-weight: bold;
  color: #1f5e95;
  text-align: center;
  line-height: 60px;
}

.custom-tasks__title--small {
  font-size: 30px;
}

.custom-tasks__separator {
  margin: 36px 0 60px 0;
  width: 200px;
  border-bottom: 2px solid #1ab79c;
}

.custom-tasks__text {
  font-size: 16px;
  line-height: 30px;
  text-align: center;
  color: #000000;
}

.custom-tasks__text--link {
  color: #1f5e95;
  text-decoration: underline;
  cursor: pointer;
}

.custom-tasks__feedback-form-container {
  width: 100%;
  max-width: 1000px;
  border-radius: 3px;
  box-shadow: 0 0 6px 0 rgba(132, 131, 131, 0.48);
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 58px 0;
  margin-top: 140px;
  margin-bottom: 55px;
}

.custom-tasks__feedback-form {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 420px;
}

.custom-tasks .bo-button-primary {
  margin-top: 30px;
}

.custom-tasks__feedback-form-input {
  border-radius: 4px;
  border: 1px solid #cccccc;
  font-size: 16px;
  line-height: 1.82;
  color: #000000;
  padding: 12px 16px;
  height: 43px;
  width: 100%;
  outline: none;
  margin-bottom: 32px;
}

.custom-tasks__feedback-form-input:focus {
  border-color: #1f5e95;
}

.custom-tasks__feedback-form-label {
  font-size: 14px;
}

.custom-tasks__feedback-form-checkbox {
  margin-top: 3px;
  margin-right: 5px;
}

.custom-tasks__feedback-form-input--error {
  border-color: #c36043 !important;
  margin-bottom: 0;
}

.custom-tasks__feedback-form-input--area {
  height: 180px;
  font-family: Arial, sans-serif;
}

.custom-tasks__error-text {
  font-size: 14px;
  font-style: italic;
  color: #c36043;
  margin: 8px 15px;
}

.custom-tasks__form-text {
  font-size: 23px;
  line-height: 1.3;
  text-align: center;
  color: #000000;
  margin-top: 48px;
  max-width: 600px;
}

// ------------------- Mobile ----------------------

@media screen and (max-width: 992px) {

  .custom-tasks {
    padding-top: 50px;
    padding-bottom: 10px;
  }

  .custom-tasks__title {
    font-size: 28px;
    line-height: 1.25;
  }

  .custom-tasks__separator {
    margin: 20px 0 50px 0;
  }

  .custom-tasks__text {
    line-height: 1.88;
  }

  .custom-tasks__feedback-form-container {
    padding: 20px;
    margin-top: 50px;
    max-width: 90vw;
  }

}
