.footer {
  position: relative;
  background-color: #4d4d4d;
  padding-top: 25px;
  padding-bottom: 25px;
  //height: 500px;
}

.footer__text {
  font-size: 17px;
  font-weight: bold;
  line-height: 1.17;
  color: #ffffff;
}

.footer__description {
  font-size: 17px;
  line-height: 1.59;
  font-weight: normal;
  color: #ffffff;
}

.footer a {
  color: #ffffff;
  text-decoration: none;
  max-height: 30px;
}