.hr-document-flow {
  position: relative;
  padding-bottom: 20px;
}

.hr-document-flow__arrows-background {
  position: absolute;
  background: url("../images/recurcive_arrows.png") no-repeat center;
  top: 100px;
  left: -300px;
  width: 100%;
  height: 269px;
}

.hr-document-flow__title {
  margin-top: 200px;
  font-size: 42px;
  font-weight: bold;
  color: #1f5e95;
}

.hr-document-flow__separator {
  margin: 30px 0;
  width: 200px;
  border-bottom: 2px solid #1ab79c;
}

.hr-document-flow__description {
  font-size: 23px;
  line-height: 1.35;
  text-align: center;
  color: #4d4d4d;
  max-width: 556px;
  margin-bottom: 140px;
}

.hr-document-flow__img-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hr-document-flow__img {
  width: 100%;
  min-height: 297px;
  background-size: cover;
}

.hr-document-flow__img1 {
  background-image: url('../images/document_flow_img1.jpg');
}

.hr-document-flow__img2 {
  background-image: url('../images/document_flow_img2.jpg');
}

.hr-document-flow__img3 {
  background-image: url('../images/document_flow_img3.jpg');
}

.hr-document-flow__img4 {
  background-image: url('../images/document_flow_img4.jpg');
}

.hr-document-flow__img-description {
  max-width: 446px;
  font-size: 16px;
  line-height: 1.2;
  text-align: left;
  color: #4d4d4d;
  margin-top: 38px;
  margin-bottom: 85px;
}

// ------------------- Mobile ----------------------

@media screen and (max-width: 992px) {

  .hr-document-flow__arrows-background {
    display: none;
  }

  .hr-document-flow__title {
    margin-top: 35px;
    font-size: 28px;
    margin-bottom: 0;
  }

  .hr-document-flow__separator {
    width: 120px;
    margin-top: 20px;
    margin-bottom: 40px;
  }

  .hr-document-flow__description {
    margin-bottom: 40px;
  }

  .hr-document-flow__img {
    width: 230px;
    min-height: 164px;
  }

  .hr-document-flow__img-description {
    margin-top: 14px;
    margin-bottom: 53px;
    max-width: 230px;
    font-size: 16px;
    line-height: 1.56;
    color: #000000;
    text-align: center;
  }

}