.contacts {
  position: relative;
  left: 0;
  right: 0;
  height: 60px;
  display: flex;
  justify-content: flex-end;
}

.contacts__item {
  //cursor: pointer;
  margin-left: 2px;
  padding: 10px 10px;
  display: flex;
  align-items: center;
  max-height: 28px;
  overflow: hidden;
  transition: all .4s;
  //width: 40px;
  color: white;
}

.contacts__item--phone {
  //width: 155px;
  //background-color: #1ab79c;
}

.contacts__item--mail {
  //width: 195px;
  //background-color: #1f5e95;
}

.contacts__item .contacts__text {
  opacity: 1;
}

.contacts__logo {
  min-width: 20px;
  max-height: 20px;
}

.contacts__item .contacts__logo {
  fill: #333333;
}

.contacts__text {
  transition: opacity .5s;
  opacity: 0;
  margin-left: 6px;
  font-size: 13px;
  color: #333333;
  white-space: nowrap;
  text-decoration: none;
}

.menu {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  height: 90px;
  background: white;
  display: flex;
  align-items: center;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.05);
  z-index: 100;
}

.menu__logo {
  margin: 5px 0;
  width: 227px;
  height: 80px;
  cursor: pointer;
  display: block;
  background-image: url('../images/logo.png');
  background-size: cover;
}

.menu__personal-area-container {
  display: flex;
  width: 100%;
  height: 50px;
  border-left: 1px solid #dddddd;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  &:hover {
    .menu__personal-area {
      fill: #1ab79c;
    }
  }
}

.menu__personal-area {
  width: 25px;
  height: 25px;
  margin-right: 20px;
  transition: all .1s;
}

.menu__navigation-item-container {
  position: relative;
  height: 100%;
  display: inline-flex;
  align-items: center;
  cursor: pointer;

  &:hover {
    .menu__navigation-item {
      color: #1ab79c;

      .chevron-down g g polyline {
        stroke: #1ab79c;
      }
    }
  }
}

.chevron-down {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 15px;
  margin: auto;
  width: 15px;
  height: 10px;
}

.menu__navigation-item {
  border-radius: 3px;
  margin-right: 5px;
  padding: 13px 19px;
  font-size: 17px;
  font-weight: bold;
  text-align: center;
  color: #444444;
  letter-spacing: 1px;
  transition: all .2s;

  .chevron-down g g polyline {
    transition: all .2s;
  }
}

.menu__navigation-item--active {
  color: #1ab79c;

  .chevron-down g g polyline {
    stroke: #1ab79c;
  }
}

.menu__navigation-item-container:hover .menu__dropdown {
  display: flex;
}

.menu__dropdown {
  position: absolute;
  top: 90px;
  left: 0;
  display: none;
  flex-direction: column;
  border-top: 3px solid #1ab79c;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  background-color: rgba(255, 255, 255, 1);
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  min-width: 370px;
}

.menu__burger {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.menu__dropdown-item {
  font-size: 16px;
  white-space: nowrap;
  text-align: left;
  font-weight: bold;
  cursor: pointer;
  color: #333333;
  padding: 20px 30px;
  transition: all .3s;
}

.menu__dropdown-item:hover {
  color: #1ab79c;
  padding-left: 35px;
  background-color: #f9f9f9;
}

// ------------------- Mobile ----------------------

@media screen and (max-width: 992px) {

  .menu__personal-area-container {
    border: none;
  }

  .menu .container,
  .contacts .container{
    max-width: 100%;
  }

  .menu__logo {
    margin-left: 15px;
    width: 175px;
    height: 60px;
  }

  .menu__burger {
    margin-right: 15px;
  }

  .contacts__item--mail {
    margin-right: 20px;
  }

  .contacts {
    height: 30px;
  }

  .contacts__item {
    display: none;
  }

  .menu .bo-button-primary {
    min-width: 120px;
  }

  .menu .bo-button-secondary {
    min-width: 120px;
  }

}