$max-menu-height: 550px;

.mobile-menu {
  position: relative;
  top: -1px;
  width: 100%;
  background-color: white;
  z-index: 150;
  box-shadow: 0 8px 10px -2px rgba(0, 0, 0, 0.05);
  transition: all .3s;
  max-height: 0;
  overflow: hidden;
}

.mobile-menu a {
  color: black;
  text-decoration: none;
  font-weight: normal;
  font-size: 15px;
}

.mobile-menu--opened {
  max-height: $max-menu-height;
  transition: all .5s;
}

.mobile-menu__item {
  margin: 0 30px;
  padding: 15px;
  border-bottom: 1px solid #b3b3b3;
  font-size: 16px;
  font-weight: bold;
  text-align: left;
  color: #000000;
  display: flex;
  justify-content: space-between;
}

.mobile-menu__item:hover {
  color: #1ab79c;
}

.mobile-menu__item--submenu-showed .submenu-chevron {
  transform: rotate(90deg);
}

.submenu-chevron {
  transition: all .3s;
}

.submenu-items {
  padding: 0 10px;
  transition: height 0.3s;
  height: 0;
  overflow: hidden;
}

.submenu-items--show {
  height: 240px;
}

.submenu-items .mobile-menu__item {
  font-weight: normal;
  font-size: 15px;
}

.mobile-menu__item--last {
  border-bottom: 0;
}

.mobile-menu__telegram-image {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.mobile-menu .bo-button-primary {
  min-width: 160px;
}
