.online-accounting {
  position: relative;
  padding-bottom: 100px;
}

.online-accounting__title {
  margin-top: 60px;
  font-size: 42px;
  font-weight: bold;
  color: #1f5e95;
}

.online-accounting__separator {
  margin-top: 40px;
  margin-bottom: 90px;
  width: 200px;
  border-bottom: 2px solid #1ab79c;
}

.online-accounting__phone-picture-container {
  position: relative;
  width: 325px;
  padding-top: 15px;
}

.online-accounting__phone-picture {
  max-width: 325px;
  max-height: 680px;
}

.online-accounting__phone-actions {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50px;
  right: 50px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.info-block {
  display: flex;
}

.info-block__text {
  font-size: 16px;
  color: #000000;
  max-width: 210px;
  display: flex;
  flex-direction: column;
}

.info-block__title {
  font-weight: bold;
  margin-bottom: 25px;
  color: #1f5e95;
}

.info-block__image-container {
  width: 120px;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.info-block__calc {
  width: 53px;
}

.info-block__notifications {
  width: 93px;
  margin-top: 25px;
}

.info-block__tax-tablet,
.info-block__documents,
.info-block__bank {
  width: 67px;
}

.info-block__balance {
  width: 80px;
}

.info-block__transactions {
  width: 83px;
}

.info-block__unblock {
  width: 48px;
}

// ------------------- Mobile ----------------------

@media screen and (max-width: 992px) {

  .online-accounting {
    padding-bottom: 80px;
  }

  .online-accounting__title {
    font-size: 28px;
  }

  .online-accounting__separator {
    width: 120px;
    margin-top: 20px;
    margin-bottom: 70px;
  }

  .info-block {
    margin-bottom: 70px;
  }

  .online-accounting__phone-picture-container {
    margin-bottom: 70px;
  }

  .info-block__description {
    line-height: 1.56;
  }

  .info-block__calc {
    width: 61px;
  }

  .online-accounting .bo-button-primary {
    margin-left: 7px;
  }

  .online-accounting .bo-button-secondary {
    margin-right: 7px;
  }

}
