.prices {
  position: relative;
  padding-top: 50px;
}

.prices__title {
  font-size: 42px;
  font-weight: bold;
  color: #1f5e95;
}

.prices__separator {
  margin: 30px 0 70px 0;
  width: 200px;
  border-bottom: 2px solid #1ab79c;
}

.prices__tabs-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.prices__tab-title {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 171px;
  height: 58px;
  font-size: 16px;
  line-height: 1.56;
  color: black;
  border-radius: 2px;
  transition: all 0.2s;
  margin: 10px 25px;
  cursor: pointer;
}

.prices__tab-title--selected {
  background-color: #1ab79c;
  color: white;
}

.prices__tab-content {
  margin-top: 80px;
}

.prices__tariff {
  position: relative;
  width: 100%;
  height: 523px;
  box-shadow: 0 0 6px 0 rgba(132, 131, 131, 0.48);
  background-color: #ffffff;
  border-radius: 2px;
  margin-bottom: 50px;
  padding: 17px;
}

.prices__tariff--with-description {
  height: 383px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.prices__tariff--with-description .prices__tariff-title {
  font-size: 30px;
  height: auto;
  padding: 0;
}

.prices__tariff--with-description .prices__additional-text {
  margin: 0;
  max-width: 770px;
}

.prices__tariff-price {
  font-size: 43px;
  font-weight: bold;
  line-height: 1.09;
  text-align: center;
  color: #1ab79c;
}

.prices__tariff-price--units {
  font-size: 23px;
}

.prices__tariff-price--units-inline {
  font-size: 23px;
  display: inline;
}

.prices__tariff-title {
  padding-bottom: 10px;
  height: 60px;
  font-size: 23px;
  font-weight: bold;
  line-height: 1.09;
  text-align: center;
  color: #1f5e95;
}

.prices__tariff-list {
  padding-top: 10px;
  padding-left: 10px;
  font-size: 16px;
  line-height: 1.56;
  text-align: center;
  color: #000000;
  height: 210px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.prices__tariff-sectors-container {
  width: 100%;
  height: 210px;
}

.prices__tariff-sectors {
  padding: 12px 20px;
  width: 100%;
  height: 172px;
  overflow-y: auto;
  border: 2px solid #1f5e95;
  border-radius: 3px;
  resize: none;
  font-size: 16px;
  line-height: 1.56;
  text-align: left;
  color: #000000;
}

.prices__tariff-action {
  position: absolute;
  left: 17px;
  right: 17px;
  bottom: 17px;
}

.prices__employee-list {
  padding-top: 10px;
  width: 100%;
  height: 155px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.prices__check-svg {
  min-width: 25px;
  height: 25px;
  margin-right: 15px;
}

.prices__offset {
  margin: 0 60px;
}

.prices__additional-text {
  margin-top: 30px;
  font-size: 23px;
  line-height: 1.35;
  text-align: center;
  color: black;
}

.prices__additional-text--selected {
  color: #1f5e95;
}

.prices__additional-text--underlined {
  color: #1f5e95;
  text-decoration: underline;
  cursor: pointer;
}

.prices__additional-text a,
.prices__additional-text a:visited {
  color: #1f5e95;
}

.prices__registration-block {
  height: 160px;
}

.prices__registration-label {
  padding: 60px 0 12px 0;
}

.prices__note {
  font-size: 16px;
  line-height: 1.56;
  text-align: left;
  color: black;
  height: 160px;
  padding-top: 40px;
  padding-left: 5px;
}

.prices__ved-nds-block {
  padding-top: 65px;
  height: 200px;
}

.prices__nds-tariff-text-container {
  margin-top: -30px;
  display: flex;
  justify-content: center;
  width: 100%;
}

.prices__nds-tariff-text {
  line-height: 1.56;
  text-align: center;
  color: black;
  max-width: 250px;
}

.prices__hr-block {
  height: 180px;
  padding-top: 65px;
}

// ------------------- Mobile ----------------------

@media screen and (max-width: 1200px) {

  .prices__tab-content {
    margin-top: 20px;
  }

}

@media screen and (max-width: 992px) {

  .prices__title {
    font-size: 28px;
  }

  .prices__separator {
    margin: 36px 0 36px 0;
    width: 120px;
  }

  .prices__additional-text {
    margin-top: 10px;
    font-size: 18px;
  }

  .prices__tariff--with-description .prices__tariff-title {
    font-size: 23px;
    margin-bottom: 20px;
  }

  .prices__tariff:last-child {
    margin-bottom: 30px;
  }

}

@media screen and (max-width: 576px) {

  .prices__tab-title {
    width: 140px;
    font-size: 14px;
    margin: 5px 10px;
  }

}
