.promo-block {
  position: relative;
  height: calc(100vh - 150px);
  background: url('../images/background.png') no-repeat 60% 50%;
  background-size: cover;
}

.promo-block__container {
  height: 100%;
  display: flex;
  align-items: center;
}

.promo-block__main-text {
  font-size: 42px;
  font-weight: bold;
  text-align: left;
  line-height: 1.05;
  letter-spacing: 1.5px;
  color: #333333;
  margin-bottom: 44px;
}

.promo-block__service-name-text {
  font-size: 30px;
  font-weight: bold;
  line-height: 1;
  text-align: left;
  letter-spacing: 1.5px;
  color: #1f5e95;
  margin-bottom: 25px;
}

.promo-block__key-word {
  color: #1ab79c;
}

.promo-block__service-name-text--visible,
.promo-block__key-word--visible {
  transition: opacity 1s;
  opacity: 1;
}

.promo-block__service-name-text--hidden,
.promo-block__key-word--hidden {
  transition: none;
  opacity: 0;
}

.promo-block__service-info-text {
  font-size: 23px;
  line-height: 1.2;
  text-align: left;
  color: #4d4d4d;
  margin-bottom: 30px;
}

// ------------------- Mobile ----------------------

@media screen and (max-width: 992px) {

  .promo-block {
    height: calc(100vh - 90px);
    background: url('../images/mobile_background.png') no-repeat 100%;
    background-size: cover;
  }

  /*.promo-block__container {
    align-items: flex-start;
  }*/

  /*.promo-block__main-text {
    margin-top: 15%;
  }*/

  /*.promo-block__service-name-text {
    display: none;
  }*/

  .promo-block__main-text {
    font-size: 28px;
  }

  .promo-block__service-name-text {
    font-size: 18px;
  }

  .promo-block__service-info-text {
    display: none;
  }

  .promo-block .bo-button-primary {
    margin-top: 40px;
  }

}

