$tabs-height: 70px;
$tabs-height-mobile: 60px;

.ved-container {
  position: relative;
  background: url('../images/ved_background.png') 50% 0 no-repeat;
  margin-top: -50px;
  padding-top: 0;
  overflow-x: hidden;
}

.ved-container__title {
  margin-top: 200px;
  font-size: 42px;
  font-weight: bold;
  color: #1f5e95;
}

.ved-container__separator {
  margin: 25px 0 40px;
  width: 200px;
  border-bottom: 2px solid #1ab79c;
}

.ved-container__text {
  font-size: 17px;
  line-height: 1.82;
  text-align: left;
  max-width: 472px;
  color: #000000;
}

.ved-container__action {
  margin-top: 57px;
}

.tabs-container {
  margin-top: 200px;
  margin-bottom: 60px;
  position: relative;
  display: flex;
  flex-direction: column;
}

.tabs-container__tabs {
  width: 100%;
  display: flex;
  height: $tabs-height;
}

.tabs-container__tab {
  position: relative;
  cursor: pointer;
  display: flex;
  align-items: center;
  padding-left: 30px;
  background: white;
  width: 300px;
  font-size: 30px;
  font-weight: bold;
  line-height: 1.47;
  text-align: left;
  color: #1f5e95;
  box-shadow: 0 0 6px 0 rgba(132, 131, 131, 0.48);
  margin-right: 15px;
}

.tabs-container__tab--active {
  border-top: 2px solid #1ab79c;
  box-shadow: -6px 0 6px -6px rgba(132, 131, 131, 0.48), 6px 0 6px -6px rgba(132, 131, 131, 0.48);
  z-index: 2;
}

.tabs-container__content {
  height: 560px - $tabs-height;
  box-shadow: 0 0 6px 0 rgba(132, 131, 131, 0.48);
  background: white;
  width: 200%;
  padding: 20px 35px;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.tabs-container__text {
  max-width: 610px;
  font-size: 16px;
  line-height: 1.47;
  text-align: left;
  color: #000000;
}

.tabs-container__point .tabs-container__text {
  max-width: 40vw;
}

.tabs-container__point {
  display: flex;
  align-items: center;
}

.tabs-container__point-svg {
  width: 25px;
  height: 25px;
  margin-right: 10px;
}

// ------------------- Mobile ----------------------

@media screen and (max-width: 992px) {

  .ved-container {
    margin-top: 0;
    padding-top: 0;
  }

  .ved-container__title {
    text-align: center;
    margin-top: 20px;
    font-size: 28px;
  }

  .ved-container__separator {
    width: 120px;
    margin-bottom: 30px;
    text-align: center;
  }

  .ved-container__action {
    margin-top: 37px;
  }

  .tabs-container {
    margin-top: 50px;
    margin-bottom: 10px;
  }

  .tabs-container__tabs {
    height: $tabs-height-mobile;
  }

  .tabs-container__tab {
    font-size: 20px;
    width: 170px;
    justify-content: center;
    padding-left: 0;
  }

  .tabs-container__content {
    height: 560px - $tabs-height-mobile;
    padding-top: 20px;
    padding-left: 20px;
  }

  .tabs-container__text {
    line-height: 1.56;
    max-width: 80vw;
  }

  .tabs-container__point .tabs-container__text {
    max-width: 75vw;
  }

}


