<template>
  <div id="custom-tasks-form" class="custom-tasks__feedback-form-container">
    <div class="custom-tasks__title custom-tasks__title--small" v-if="submitted">
      Спасибо, что оставили заявку!
    </div>
    <div class="custom-tasks__form-text" v-if="submitted">
      Ваше сообщение успешно отправлено, наш менеджер
      свяжется с Вами в ближайшее время
    </div>
    <div class="custom-tasks__title" v-if="!submitted">
      Остались вопросы, отправьте нам заявку
    </div>
    <form class="custom-tasks__feedback-form" v-if="!submitted">
      <div class="w-100">
        <input
          id="user-name"
          type="text"
          class="custom-tasks__feedback-form-input"
          placeholder="Имя"
          v-model="name.value"
          :class="{'custom-tasks__feedback-form-input--error': !name.valid && triedToSubmit}"
          v-on:input="onInputChange('name')"
        />
        <div class="custom-tasks__error-text" v-if="!name.valid && triedToSubmit">{{name.errorText}}</div>
      </div>
      <div class="w-100">
        <input
          id="user-contact"
          type="text"
          class="custom-tasks__feedback-form-input"
          placeholder="Телефон или электронная почта"
          v-model="email.value"
          :class="{'custom-tasks__feedback-form-input--error': !email.valid && triedToSubmit}"
          v-on:input="onInputChange('email')"
        />
        <div class="custom-tasks__error-text" v-if="!email.valid && triedToSubmit">{{email.errorText}}</div>
      </div>
      <div class="w-100">
        <textarea
          id="user-message"
          type="text"
          class="custom-tasks__feedback-form-input custom-tasks__feedback-form-input--area"
          placeholder="Сообщение"
          v-model="message.value"
          :class="{'custom-tasks__feedback-form-input--error': !message.valid && triedToSubmit}"
        ></textarea>
        <!--          v-on:input="onInputChange('message')"-->
        <div class="custom-tasks__error-text" v-if="!message.valid && triedToSubmit">{{message.errorText}}</div>
      </div>
      <div class="w-100">
        <div class="d-flex justify-content-start">
          <input
            id="agree"
            type="checkbox"
            class="custom-tasks__feedback-form-checkbox"
            v-model="agree.value"
            v-on:input="onInputChange('agree')"
          />
          <label for="agree" class="custom-tasks__feedback-form-label">
            Согласен(а) на обработку персональных данных <br>
            <a style="color: #1f5e95" href="/documents/privacy_policy.pdf" target="_blank">
              Политика конфиденциальности
            </a>
          </label>
        </div>
        <div class="custom-tasks__error-text" v-if="!agree.valid && triedToSubmit">{{agree.errorText}}</div>
      </div>
      <button type="button" @click="onSubmitForm" class="bo-button-primary">Отправить</button>
    </form>
  </div>
</template>

<script>
  import axios from "axios";

  export default {
    data: function() {
      return {
        name: { value: '', errorText: 'Введите Ваше имя', valid: false },
        email: { value: '', errorText: 'Введите Ваш номер телефона или электронную почту', valid: false },
        message: { value: '', errorText: 'Введите Ваше сообщение', valid: true },
        agree: { value: false, errorText: 'Вы должны быть согласны', valid: false },
        triedToSubmit: false,
        submitted: !!localStorage.getItem('formSubmitted')
      }
    },
    methods: {
      onSubmitForm: function () {
        this.triedToSubmit = true;
        if (this.name.valid && this.email.valid && this.agree.valid) {
          axios.post('user-request', {name: this.name.value, contact: this.email.value, message: this.message.value}, {
            headers: {
              'X-CSRF-TOKEN': document.querySelector('meta[name="csrf-token"]').getAttribute('content'),
              'Accept': 'application/json'
            }
          }).then(() => {
            this.submitted = true;
            localStorage.setItem('formSubmitted', 'true');
          })
        }
      },
      onInputChange: function (field) {
        setTimeout(() => this[field].valid = !!this[field].value);
      }
    }
  }
</script>