<template>
  <div v-sticky sticky-z-index="10000" class="menu" v-click-outside="closeMenu">
    <div class="container h-100">
      <div class="row h-100">
        <div
          class="col-xl-4 col-lg-4 col-md-10 col-sm-10 col-xs-10 col-9 d-flex align-items-center">
          <div @click="reload()" class="menu__logo" />
        </div>
        <div class="col-xl-6 col-lg-5 d-lg-flex d-none h-100 p-0 justify-content-end">
          <nav class="menu__navigation-item-container" v-for="menuItem in menuItems">
            <div
              class="menu__navigation-item"
              v-scroll-to="menuItem.scrollTo"
              :class="{'mr-4': menuItem.submenuItems.length}"
            >
              {{ menuItem.title }}
              <chevron-down-svg class="chevron-down" v-if="menuItem.submenuItems.length" />
              <div class="menu__dropdown" v-if="menuItem.submenuItems.length">
                <span
                  class="menu__dropdown-item"
                  v-for="submenuItem in menuItem.submenuItems"
                  v-scroll-to="submenuItem.scrollTo"
                >
                  {{ submenuItem.title }}
                </span>
              </div>
            </div>
          </nav>
        </div>
        <div class="col-xl-2 col-lg-3 p-0 d-xl-flex d-lg-flex d-none align-items-center justify-content-end">
          <!--<div class="menu__personal-area-container">
            <user-svg class="menu__personal-area"/>
          </div>-->
          <button class="bo-button-primary" v-scroll-to="'#custom-tasks-form'">Заказать звонок</button>
        </div>
        <div
          class="col-md-2 col-sm-2 col-xs-2 col-3 d-xl-none d-lg-none d-flex h-100 w-100 align-items-center justify-content-end"
          @click="toggleMenu"
        >
          <menu-svg class="menu__burger"/>
        </div>
      </div>
      <div class="row">
        <div class="mobile-menu" :class="{'mobile-menu--opened': menuOpened}">
          <div v-for="menuItem in menuItems">
            <div
              class="mobile-menu__item"
              :class="{'mobile-menu__item--submenu-showed': showSubmenuItems}"
              @click="closeIfNeedsScroll(menuItem)"
              v-scroll-to="menuItem.scrollTo"
            >
              {{ menuItem.title }}
              <i class="fas fa-chevron-right submenu-chevron" v-if="menuItem.submenuItems.length"></i>
            </div>
            <div
              class="submenu-items"
              :class="{'submenu-items--show': showSubmenuItems}"
              v-if="menuItem.submenuItems.length"
            >
              <div
                class="mobile-menu__item"
                @click="closeIfNeedsScroll(submenuItem)"
                v-scroll-to="submenuItem.scrollTo"
                v-for="submenuItem in menuItem.submenuItems"
              >
                {{ submenuItem.title }}
              </div>
            </div>
          </div>
          <div class="mobile-menu__item mobile-menu__item--last">
            <div class="d-flex flex-column w-100">
              Контакты
              <div class="d-flex flex-column w-100">
                <a href="tel:+79107480234" class="mt-3 mb-3">+7 (910) 748-02-34</a>
                <span class="d-flex align-items-center">
                  <a href="mailto:hello@my-online-office.ru">hello@my-online-office.ru</a>
                  <a href="https://t.me/my_online_office" target="_blank" rel="noreferrer" class="ml-3">
                    <img class="mobile-menu__telegram-image" src="../../../sass/landing/images/telegram.png" alt="no_image" />
                  </a>
                </span>
              </div>
            </div>
          </div>
          <div class="row mb-3">
            <div class="col-md-6 col-sm-6 col-xs-6 col-6 p-0 d-flex justify-content-start">
<!--              <div class="bo-button-secondary ml-5">Войти</div>-->
              <button
                class="bo-button-primary ml-5"
                v-scroll-to="'#custom-tasks-form'"
                @click="closeMenu()"
              >
                Заказать звонок
              </button>
            </div>
            <!--<div class="col-md-6 col-sm-6 col-xs-6 col-6 p-0 d-flex justify-content-end">
              <div class="bo-button-primary mr-5">Регистрация</div>
            </div>-->
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import MenuSvg from '../svg/MenuSvg';
  import UserSvg from '../svg/UserSvg';
  import ClickOutside from '../directives/ClickOutside';
  import ChevronDownSvg from '../svg/ChevronDownSvg';

  export default {
    data: function () {
      return {
        menuItems: [
          {
            title: 'Услуги',
            submenuItems: [
              { title: 'Онлайн бухгалтерия', scrollTo: '#online-accounting' },
              { title: 'Регистрация / ликвидация бизнеса', scrollTo: '#business-registration' },
              { title: 'HR-документооборот', scrollTo: '#hr-document-flow' },
              { title: 'Возврат НДС / ВЭД', scrollTo: '#ved' },
              // { title: 'Бизнес с нуля', scrollTo: '#business-from-scratch' }
              { title: 'Нестандартные задачи', scrollTo: '#custom-tasks' }
            ],
            scrollTo: '#empty'
          },
          // { title: 'Приложение', submenuItems: [], scrollTo: '#application' },
          { title: 'Цены', submenuItems: [], scrollTo: '#prices' },
          // { title: 'Нестандартные задачи', submenuItems: [], scrollTo: '#custom-tasks' },
        ],
        menuOpened: false,
        showSubmenuItems: false
      }
    },
    methods: {
      reload: function() {
        window.location.reload();
      },
      toggleMenu: function () {
        this.menuOpened = !this.menuOpened;
        if (this.menuOpened) {
          this.showSubmenuItems = true;
        }
      },
      toggleSubmenu: function () {
        this.showSubmenuItems = !this.showSubmenuItems;
      },
      closeMenu: function () {
        this.menuOpened = false;
        this.showSubmenuItems = false;
      },
      closeIfNeedsScroll: function(menuItem) {
        if (menuItem.scrollTo !== '#empty') {
          this.closeMenu();
        } else {
          this.toggleSubmenu();
        }
      }
      /*handleScroll: function() {
        this.closeMenu();
      }*/
    },
    components: {
      'menu-svg': MenuSvg,
      'user-svg': UserSvg,
      'chevron-down-svg': ChevronDownSvg
    },
    directives: {
      'click-outside': ClickOutside
    }
    /*created: function() {
      window.addEventListener('scroll', this.handleScroll);
    },
    destroyed: function() {
      window.removeEventListener('scroll', this.handleScroll);
    }*/
  }
</script>