<template>
  <div id="prices" class="prices">
    <div class="container">
      <div class="row flex-column align-items-center">
        <div class="prices__title">Цены</div>
        <div class="prices__separator"></div>
      </div>
      <div class="row justify-content-center">
        <div
          v-for="tab in tabs"
          class="prices__tab-title"
          :class="{'prices__tab-title--selected': currentTab.id === tab.id}"
          @click="currentTab = tab"
        >
          {{ tab.name }}
        </div>
      </div>
      <div class="row prices__tab-content d-flex justify-content-center">
        <div
          class="col-xs-12 col-12"
          :class="[
            `col-xl-${currentTab.colsOnXl}`,
            `col-lg-${currentTab.colsOnLg}`,
            `col-md-${currentTab.colsOnMd}`,
            `col-sm-${currentTab.colsOnSm}`,
            currentTab.offsetNeed ? 'prices__offset' : ''
          ]"
          v-for="tariff in currentTab.tariffs"
        >
          <div class="prices__tariff" :class="{'prices__tariff--with-description': tariff.description}">
            <div class="prices__tariff-title">{{ tariff.name }}</div>
            <div class="prices__tariff-list" v-if="tariff.suitable">
              <div class="mb-3">{{ tariff.sectors ? 'Участки:': 'Кому подходит:'}}</div>
              <div
                class="d-flex justify-content-start align-items-center mb-3"
                v-for="point in tariff.suitable"
              >
                <checked-svg class="prices__check-svg"/>
                <span class="text-left">{{ point }}</span>
              </div>
            </div>
            <!--<div class="prices__tariff-sectors-container" v-if="tariff.sectors">
              <div class="mb-3">Участки:</div>
              <div class="prices__tariff-sectors">
                <div v-for="(sector, index) in tariff.sectors">
                  {{ sector }}
                  <br><br v-if="index !== tariff.sectors.length - 1">
                </div>
              </div>
            </div>-->
            <div
              class="prices__employee-list"
              v-if="tariff.accountingEmployeeOptions || tariff.accountingOperationCountOptions"
            >
              {{ tariff.accountingEmployeeOptions ? 'Сотрудники:' : ''}}
              <v-select
                v-bind:clearable="false"
                v-bind:searchable="false"
                v-model="tariff.price"
                :options="tariff.accountingEmployeeOptions || tariff.accountingOperationCountOptions"
                label="label"
                class="mb-2 mt-2"
                :reduce="price => price.value"
              ></v-select>
              <div class="prices__tariff-price">
                {{ tariff.price }}
                <div class="prices__tariff-price--units">
                  {{ tariff.priceUnits }}
                </div>
              </div>
            </div>
            <div class="prices__registration-block" v-if="currentTab.id === 'business-registration'">
              <div
                class="prices__registration-label"
                :class="{'text-center': !tariff.registrationOptions}"
              >
                {{ tariff.registrationLabel }}
              </div>
              <v-select
                v-if="tariff.registrationOptions"
                v-bind:clearable="false"
                v-bind:searchable="false"
                v-bind:filterable="false"
                v-model="tariff.price"
                :options="tariff.registrationOptions"
                label="label"
              ></v-select>
            </div>
            <div class="prices__tariff-price" v-if="currentTab.id === 'business-registration'">
              <span
                class="prices__tariff-price--units"
                v-if="tariff.needPrefix && tariff.price.value === '30 000'"
              >
                от
              </span>
              {{ tariff.price.value || tariff.price }}
              <span class="prices__tariff-price--units">
                {{ tariff.priceUnits[tariff.price.id] || tariff.priceUnits }}
              </span>
            </div>
            <div
              class="prices__note"
              v-if="currentTab.id === 'business-registration' && tariff.price.label !== 'ИП'"
            >
              {{ tariff.note }}
            </div>
            <div class="prices__ved-nds-block" v-if="currentTab.id === 'ved'">
              <div v-if="tariff.id === 'complex'">
                <div class="mb-4">Выручка в месяц:</div>
                <v-select
                  v-if="tariff.vedOptions"
                  v-bind:clearable="false"
                  v-bind:searchable="false"
                  v-bind:filterable="false"
                  v-model="tariff.price"
                  :options="tariff.vedOptions"
                  label="label"
                ></v-select>
              </div>
              <div class="prices__nds-tariff-text-container" v-if="tariff.id === 'nds-return-back'">
                <div class="prices__nds-tariff-text">
                  подготовка документов и сдача
                  налоговой декларации по НДС:
                  <div class="prices__tariff-price mt-3 mb-3">8 %</div>
                  от суммы налога, но не менее
                </div>
              </div>
            </div>
            <div class="prices__tariff-price" v-if="currentTab.id === 'ved'">
              {{ tariff.price.value || tariff.price }}
              <div class="mt-2"
                :class="[`${tariff.id === 'complex' ? 'prices__tariff-price--units' : 'prices__tariff-price--units-inline'}`]"
              >
                {{ tariff.priceUnits }}
              </div>
            </div>
            <div class="prices__hr-block" v-if="currentTab.id === 'hr-document-flow'">
              <div v-if="tariff.id === 'staffing-service'">
                <div class="mb-3">Количество сотрудников:</div>
                <v-select
                  v-bind:clearable="false"
                  v-bind:searchable="false"
                  v-bind:filterable="false"
                  v-model="tariff.price"
                  :options="tariff.staffingServiceOptions"
                  label="label"
                ></v-select>
              </div>
            </div>
            <div class="prices__tariff-price" v-if="currentTab.id === 'hr-document-flow'">
              <span
                class="prices__tariff-price--units"
                v-if="tariff.needPrefix && tariff.price.id === 'big'"
              >
                от
              </span>
                {{ tariff.price.value ||  tariff.price}}
              <div class="prices__tariff-price--units mt-2">
                {{ tariff.priceUnits[tariff.price.id] || tariff.priceUnits }}
              </div>
            </div>
            <div
              class="prices__note mt-3"
              v-if="currentTab.id === 'hr-document-flow' && tariff.price.id === 'big'"
            >
              {{ tariff.note }}
            </div>
            <div class="prices__additional-text" v-if="currentTab.id === 'others'">
              хотите узнать цены на оказание отдельных услуг из раздела
              «Нестандартные задачи»?
              Запросите стоимость, позвонив нам
              по номеру
              <a href="tel:+79107480234" class="prices__additional-text--selected">+7 (910) 748-02-34,</a>
              <a href="https://t.me/my_online_office" target="_blank">пишите в телеграм</a>
              или
              <span class="prices__additional-text--underlined" v-scroll-to="'#custom-tasks-form'">
                оставьте заявку
              </span>
              и мы Вам ответим
            </div>
            <div class="prices__tariff-action" v-if="currentTab.id !== 'others'">
              <button class="bo-button-info bo-button-info--wide" v-scroll-to="'#custom-tasks-form'">Выбрать</button>
            </div>
          </div>
        </div>
      </div>
      <div class="row justify-content-center" v-if="currentTab.id !== 'others'">
        <i class="fas fa-chevron-down fa-2x main-color"></i>
      </div>
      <div class="row justify-content-center">
        <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12 col-xs-12 col-12">
          <div class="prices__additional-text" v-if="currentTab.id === 'accounting'">
            Подробнее о тарифах на
            <a href="/documents/online_accounting_package_services.pdf" target="_blank">пакетное бухгалтерское обслуживание</a>.
            С ценами на <strong>дополнительные услуги</strong>
            из раздела «Онлайн бухгалтерия» можно ознакомиться
            <a href="/documents/online_accounting_additional_services.pdf" target="_blank">здесь</a>.
            Дополнительные услуги не входят в стоимость тарифов и оплачиваются отдельно.
          </div>
          <div class="prices__additional-text" v-if="currentTab.id === 'business-registration'">
            Подробнее с ценами на услуги регистрации, ликвидации бизнеса и внесение изменений
            в уставные документы, можно ознакомиться
            <a href="/documents/legal_services.pdf" target="_blank">здесь</a>.
            Остались вопросы, звоните нам на
            <a href="tel:+79107480234" class="prices__additional-text--selected">+7 (910) 748-02-34,</a>
            <a href="https://t.me/my_online_office" target="_blank">пишите в телеграм</a>
            или
            <span class="prices__additional-text--underlined" v-scroll-to="'#custom-tasks-form'">
              оставьте заявку
            </span>
            и мы сориентируем Вас по цене или поможем подобрать оптимальный тариф
          </div>
          <div class="prices__additional-text" v-if="currentTab.id === 'ved'">
            Если Вам отказали в возмещении НДС или вы хотите обжаловать
            отрицательное решение суда, звоните нам на
            <a href="tel:+79107480234" class="prices__additional-text--selected">+7 (910) 748-02-34,</a>
            <a href="https://t.me/my_online_office" target="_blank">пишите в телеграм</a>
            или
            <span class="prices__additional-text--underlined" v-scroll-to="'#custom-tasks-form'">
              оставьте заявку
            </span>
            и мы сориентируем Вас по цене
          </div>
          <div class="prices__additional-text" v-if="currentTab.id === 'hr-document-flow'">
            С другими ценами на услуги из раздела HR-документооборот
            можно ознакомиться
            <a href="/documents/hr_documentflow_additional_services.pdf" target="_blank">здесь.</a>
            Остались вопросы, звоните нам на
            <a href="tel:+79107480234" class="prices__additional-text--selected">+7 (910) 748-02-34,</a>
            <a href="https://t.me/my_online_office" target="_blank">пишите в телеграм</a>
            или
            <span class="prices__additional-text--underlined" v-scroll-to="'#custom-tasks-form'">
              оставьте заявку
            </span>
            и мы сориентируем Вас по цене или поможем подобрать оптимальный тариф
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import CheckedSvg from '../svg/CheckedSvg';

  export default {
    data: function() {
      return {
        tabs: [
          {
            id: 'accounting',
            name: 'Бухгалтерское обслуживание',
            tariffs: [
              {
                id: 'optimal',
                name: 'Оптимальный выбор',
                suitable: ['ЕНВД', 'УСН с объектом «Доходы»', 'Патентная система'],
                accountingEmployeeOptions: [
                  { label: 'без сотрудников', value: '3 500' },
                  { label: 'до 5 человек', value: '6 990' },
                  { label: 'до 10 человек', value: '9 490' },
                  { label: 'до 20 человек', value: '12 090' }
                ],
                price: '3 500',
                priceUnits: 'Р/месяц'
              },
              {
                id: 'light',
                name: 'Лёгкий тариф',
                suitable: ['УСН с ЕНВД или с патентом', 'УСН с объектом «Доходы минус расходы»'],
                accountingEmployeeOptions: [
                  { label: 'без сотрудников', value: '6 800' },
                  { label: 'до 5 человек', value: '10 290' },
                  { label: 'до 10 человек', value: '12 790' },
                  { label: 'до 20 человек', value: '15 390' }
                ],
                price: '6 800' ,
                priceUnits: 'Р/месяц'
              },
              {
                id: 'active',
                name: 'Активный бизнес',
                suitable: ['Налоговая система с НДС', 'Совмещение ЕНВД с ОСНО'],
                accountingEmployeeOptions: [
                  { label: 'без сотрудников', value: '12 800' },
                  { label: 'до 5 человек', value: '16 290' },
                  { label: 'до 10 человек', value: '18 790' },
                  { label: 'до 20 человек', value: '21 390' }
                ],
                price: '12 800',
                priceUnits: 'Р/месяц'
              },
              {
                id: 'parts',
                name: 'Ведение участков учёта',
                suitable: [
                  'Учёт расчётов',
                  'Банк и касса',
                  'Ведения расчётов по кредитам',
                  'прочие блоки учёта'
                ],
                sectors: true,
                /*sectors: [
                  'Учёт расчётов с поставщиками и покупателями',
                  'Сверка с контрагентами',
                  'Учёт товарно-материальных ценностей',
                  'Обработка авансовых отчетов',
                  'Учёт основных средств и НМА',
                  'Банк и касса',
                  'Ведения расчетов по кредитам',
                  'Обработка авансовых отчетов',
                ],*/
                accountingOperationCountOptions: [
                  { label: 'от 1 до 20 операций', value: '8 700' },
                  { label: 'от 21 до 50 операций', value: '18 000' },
                  { label: 'от 51 до 150 операций', value: '27 000' }
                ],
                price: '8 700',
                priceUnits: 'Р/месяц'
              }
            ],
            colsOnXl: 3,
            colsOnLg: 6,
            colsOnMd: 8,
            colsOnSm: 8,
            offsetNeed: false,
          },
          {
            id: 'business-registration',
            name: 'Регистрация / ликвидация бизнеса',
            tariffs: [
              {
                id: 'ip-registration',
                name: 'Регистрация ИП',
                price: '1 800',
                priceUnits: 'Р*',
                note: `* в случае заключения договора на оказание бухгалтерских услуг  регистрация ИП проводится бесплатно`
              },
              {
                id: 'entity-registration',
                name: 'Регистрация юридического лица',
                registrationLabel: '1 участник:',
                price: '9 500',
                priceUnits: 'Р*',
                note: `* за каждого дополнительного участника доплачивается 1 800 р`
              },
              {
                id: 'destroy',
                name: 'Ликвидация',
                registrationLabel: 'Юридическое лицо:',
                registrationOptions: [
                  { id: 'organization', label: 'ООО', value: '30 000' },
                  { id: 'individual', label: 'ИП', value: '7 000' }
                ],
                needPrefix: true,
                price: { id: 'organization', label: 'ООО', value: '30 000' },
                priceUnits: {organization: 'Р*', individual: 'Р'},
                note: `* окончательная цена формируется после получения информации о ликвидируемой организации`
              },
              {
                id: 'changes',
                name: 'Внесение изменений',
                registrationLabel: 'Вид изменения:',
                registrationOptions: [
                  { label: 'наименование ю.л.', value: '7 800' },
                  { label: 'адрес ю.л.', value: '7 800' },
                  { label: 'смена директора', value: '7 800' },
                  { label: 'изменение ОКВЭД', value: '5 800' },
                  { label: 'вывод участника', value: '8 400' },
                  { label: 'распределение долей', value: '7 800' },
                  { label: 'изменение величины УК', value: '8 400' },
                ],
                price: { label: 'наименование ю.л.', value: '7 800' },
                priceUnits: 'Р*',
                note: `* отдельно оплачивается заверение документов у нотариуса`
              }
            ],
            colsOnXl: 3,
            colsOnLg: 6,
            colsOnMd: 8,
            colsOnSm: 8,
            offsetNeed: false,
          },
          {
            id: 'ved',
            name: 'ВЭД / Возврат НДС',
            tariffs: [
              {
                id: 'complex',
                name: 'Комплексное сопровождение и ведение учёта ВЭД',
                vedOptions: [
                  { label: 'до 500 000 рублей', value: '14 800' },
                  { label: 'до 1 600 000 рублей', value: '22 800' },
                  { label: 'до 3 000 000 рублей', value: '28 800' },
                  { label: 'до 5 000 000 рублей', value: '38 800' }
                ],
                price: { label: 'до 500 000 рублей', value: '14 800' } ,
                priceUnits: 'Р/месяц'
              },
              {
                id: 'nds-return-back',
                name: 'Возврат экспортного НДС',
                price: '28 000' ,
                priceUnits: 'Р'
              }
            ],
            colsOnXl: 4,
            colsOnLg: 4,
            colsOnMd: 8,
            colsOnSm: 8,
            offsetNeed: true,
          },
          {
            id: 'hr-document-flow',
            name: 'HR-документооборот',
            tariffs: [
              {
                id: 'staffing-service',
                name: 'Абонентское кадровое обслуживание',
                staffingServiceOptions: [
                  { id: 'small', label: 'от 0 до 20 человек', value: '8 000' },
                  { id: 'medium', label: 'от 21 до 40 человек', value: '12 000' },
                  { id: 'big', label: 'свыше 41', value: '12 000' }
                ],
                needPrefix: true,
                price: { id: 'small', label: 'от 0 до 20 человек', value: '8 000' },
                priceUnits: { small: 'Р/месяц', medium: 'Р/месяц', big: 'Р/месяц*' },
                note: `* плюс 400 рублей за каждого человека`
              },
              {
                id: 'foreign-employee',
                name: 'Оформление на работу иностранного сотрудника',
                price: '1 500',
                priceUnits: 'Р/чел'
              },
              {
                id: 'budget-benefits',
                name: 'Расчёт и возмещение из бюджета пособий при рождении и по уходу за ребёнком',
                price: '1 500',
                priceUnits: 'Р/чел'
              }
            ],
            colsOnXl: 4,
            colsOnLg: 6,
            colsOnMd: 8,
            colsOnSm: 8,
            offsetNeed: false,
          },
          {
            id: 'others',
            name: 'Другие услуги',
            tariffs: [
              {
                id: 'info',
                name: `Вы не нашли стоимость интересующей Вас услуги,`,
                description: 'хотите узнать цены на оказание отдельных услуг из раздела «Нестандартные задачи». Запросите стоимость, позвонив нам по номеру +7 (910) 748-02-34, пишите в телеграм или оставьте заявку и мы Вам ответим'
              }
            ],
            colsOnXl: 12,
            colsOnLg: 12,
            colsOnMd: 12,
            colsOnSm: 12,
            offsetNeed: false,
          }
        ],
        currentTab: null
      }
    },
    created: function() {
      this.currentTab = this.tabs[0];
    },
    methods: {
      nextSlide: function() {

      }
    },
    components: {
      'checked-svg': CheckedSvg
    }
  }
</script>