<template>
  <div class="col-xl-7 col-lg-7 col-md-7">
    <div class="promo-block__main-text">
      Онлайн офис - <br> ваш бизнес помощник
    </div>
    <div
      class="promo-block__service-name-text"
      :class="{
              'promo-block__service-name-text--hidden': titleIsHidden,
              'promo-block__service-name-text--visible': !titleIsHidden
            }"
    >
      {{ services[currentServiceIndex].title }}
    </div>
    <div class="promo-block__service-info-text">
      Система сочетающая в себе преимущества IT-технологий
      и профессионального опыта наших специалистов
      в <br>
      <span
        class="promo-block__key-word"
        :class="{
                'promo-block__key-word--hidden': keyWordsIsHidden,
                'promo-block__key-word--visible': !keyWordsIsHidden
              }"
      >
              {{ services[currentServiceIndex].keyWords[currentWordIndex] }}
            </span>
      сфере
    </div>
<!--    <button class="bo-button-primary">Начать работу</button>-->
  </div>
</template>

<script>
  export default {
    data: function() {
      return {
        services: [
          {title: 'Онлайн-бухгалтерия', keyWords: ['бухгалтерской', 'налоговой', 'юридической']},
          {title: 'Регистрация / ликвидация бизнеса', keyWords: ['бухгалтерской', 'налоговой', 'юридической']},
          {title: 'HR-документооборот', keyWords: ['бухгалтерской', 'налоговой', 'юридической']},
          // {title: 'Бизнес с нуля', keyWords: ['бухгалтерской', 'налоговой', 'юридической', 'IT']},
          {title: 'ВЭД / возврат экспортного НДС', keyWords: ['бухгалтерской', 'налоговой', 'юридической']},
          {title: 'Нестандартные задачи', keyWords: ['бухгалтерской', 'налоговой', 'юридической', 'IT', 'другой']}
        ],
        currentServiceIndex: 0,
        currentWordIndex: 0,
        titleIsHidden: false,
        keyWordsIsHidden: false,
        keyWordTimeout: 5000
      }
    },
    created: function() {
      setInterval(() => this.nextWord(), this.keyWordTimeout);
    },
    methods: {
      nextSlide: function() {
        this.currentServiceIndex = this.currentServiceIndex !== this.services.length - 1 ? this.currentServiceIndex + 1 : 0;
        this.switchOpacity('titleIsHidden');
      },
      nextWord: function() {
        if (this.currentWordIndex === this.services[this.currentServiceIndex].keyWords.length - 1) {
          this.currentWordIndex = 0;
          this.nextSlide();
        } else {
          this.currentWordIndex += 1;
        }
        this.switchOpacity('keyWordsIsHidden');
      },
      switchOpacity: function(fieldName) {
        this[fieldName] = true;
        setTimeout(() => this[fieldName] = false, 100);
      }
    }
  }
</script>



