<template>
  <div
    :class="{'scroll-to-top-button--show': showSelf}"
    class="scroll-to-top-button"
    @click="scrollTop"
  >
    <up-arrow></up-arrow>
  </div>
</template>

<style>
  .scroll-to-top-button {
    position: fixed;
    bottom: 0;
    right: 50px;
    z-index: 1000;
    width: 150px;
    height: 150px;
    cursor: pointer;
    opacity: 0;
    transition: opacity .2s;
  }

  .scroll-to-top-button--show {
    opacity: 1;
  }

  @media screen and (max-width: 1200px) {

    .scroll-to-top-button {
      right: 0;
    }

  }

  @media screen and (max-width: 992px) {

    .scroll-to-top-button {
      width: 120px;
      height: 120px;
    }

  }

  @media screen and (max-width: 576px) {

    .scroll-to-top-button {
      width: 95px;
      height: 95px;
      bottom: -10px;
      right: -10px;
    }

  }

</style>

<script>
  import UpArrowSvg from '../svg/UpArrowSvg';

  export default {
    data: function() {
      return {
        showSelf: false,
        scrollPositionWhenArrowUpShowed: 0
      }
    },
    methods: {
      handleScroll: function () {
        this.showSelf = window.scrollY > this.scrollPositionWhenArrowUpShowed - 90;
      },
      scrollTop: function() {
        this.$scrollTo(document.getElementById('app'))
      }
    },
    components: {
      'up-arrow': UpArrowSvg
    },
    created: function() {
      window.addEventListener('scroll', this.handleScroll);
      this.scrollPositionWhenArrowUpShowed = document.getElementById('online-accounting').offsetTop;
      this.showSelf = window.scrollY > this.scrollPositionWhenArrowUpShowed - 90;
    },
    destroyed: function() {
      window.removeEventListener('scroll', this.handleScroll);
    }
  }
</script>