<template>
  <div class="tabs-container">
    <div class="tabs-container__tabs">
      <div
        class="tabs-container__tab"
        v-for="tab in tabs"
        :class="{'tabs-container__tab--active': currentTab.id === tab.id}"
        @click="currentTab = tab"
      >
        {{ tab.name }}
      </div>
    </div>
    <div class="tabs-container__content">
      <div class="tabs-container__text">{{ currentTab.title }}</div>
      <div class="tabs-container__point" v-for="point in currentTab.points">
        <checked-svg class="tabs-container__point-svg"/>
        <div class="tabs-container__text">{{ point }}</div>
      </div>
    </div>
  </div>
</template>

<script>
  import CheckedSvg from '../svg/CheckedSvg';

  export default {
    data: function() {
      return {
        tabs: [
          {
            id: 'ved',
            name: 'ВЭД',
            title: 'Осуществляем комплексное сопровождение внешне-экономической деятельности',
            points: [
              'оказываем помощь в подготовке инвойсов',
              'составляем двуязычные контракты',
              'готовим документы по международным перевозкам грузов - CMR',
              'оформляем валютные операции'
            ]
          },
          {
            id: 'nds',
            name: 'Возврат НДС',
            title: 'Поможем подтвердить нулевую ставку при экспорте или возместить НДС. Получить услугу можно на любом этапе:',
            points: [
              'составление налоговой декларации и сбор полного пакета документов для инспекции',
              'сопровождение налоговой проверки после подачи налоговой декларации',
              `при получении отказа в возмещении НДС, подготовим возражения в инспекцию или обжалуем отрицательное
              решение в арбитражном суде`
            ]
          }
        ],
        currentTab: null,
      }
    },
    created: function() {
      this.currentTab = this.tabs[0];
    },
    components: {
      'checked-svg': CheckedSvg
    }
  }
</script>