.bo-button-primary {
  background-color: #1ab79c;
  border: 1px solid #1ab790;
  border-radius: 3px;
  color: white;
  font-weight: bold;
  font-size: 16px;
  padding: 12px 15px;
  cursor: pointer;
  min-width: 148px;
  text-align: center;
}

.bo-button-primary:focus {
  outline: none;
}

.bo-button-primary:active {
  background-color: #1aaf95;
  border-color: #1aaf90;
}

.bo-button-primary--big {
  font-size: 18px;
}

.bo-button-primary--wide {
  padding: 15px;
  width: inherit;
}

.bo-button-info {
  background-color: #5383ad;
  border: 1px solid #5383a0;
  border-radius: 3px;
  font-weight: 600;
  color: white;
  font-size: 16px;
  padding: 14px;
  cursor: pointer;
  min-width: 148px;
  text-align: center;
  width: 100%;
}

.bo-button-info:focus {
  outline: none;
}

.bo-button-info:active {
  background-color: #557aa6;
  border-color: #557a9c;
}

.bo-button-secondary {
  background-color: white;
  color: #1ab79c;
  font-size: 16px;
  border: 1px solid #1ab79c;
  text-align: center;
  min-width: 148px;
  padding: 12px 15px;
  border-radius: 3px;
  cursor: pointer;
}

.bo-button-secondary:focus {
  outline: none;
}

.bo-button-secondary:active {
  background-color: #fdfdfd;
}

// ------------------- Mobile ----------------------

@media screen and (max-width: 992px) {

  .bo-button-primary {
    padding: 10px 7px;
  }

  .bo-button-secondary {
    padding: 10px 7px;
  }

}
